<h1>Reasons why Lavi Puzza</h1>

<ul>
  <li>non si fa la doccia</li>

  <li>sta con papo</li>

  <li>ha passato un intero quarter con matte e haden</li>
</ul>

INSERT INTO users (
  first_name,
  last_name,
  dob,
  hometown,
  state,
  email,
  password_digest,
  premium_subscription
) VALUES (
  'Lavinia',
  'Cavalet',
  '2001-02-18',
  'Chicago',
  'IL',
  'lcavalet@example.com',
  'password',
  'True'
);
