<!DOCTYPE html>
<html>
  <head>
    <title>Explore Cities</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .btn-category {
        font-size: 1.25rem; /* Increase button font size */
        padding: 1rem; /* Increase button padding */
      }
      .mt-5 {
        margin-top: 3rem !important;
      }
      .mb-5 {
        margin-bottom: 3rem !important; /* Increase margin bottom for title */
      }
      .mt-3 {
        margin-top: 1rem !important; /* Increase margin top for row */
      }
      .custom-width {
        width: 50%; /* Adjust this value to your desired width */
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-5">Welcome to Bridge!</h1>
      <h3 class="text-center mb-4">What city do you want to explore?</h3>

      <form action="/categories/<%= @chosen_city %>" method="get" id="city_choice_form" class="mb-4">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="form-group">
              <input list="cities" id="city_box" name="query_city" class="form-control custom-width mx-auto" required />
              <datalist id="cities">
                <% @hometowns.each do |hometown| %>
                  <option value="<%= hometown %>"></option>
                <% end %>
              </datalist>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <div class="col-md-6 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>

    <script>
      document.getElementById('city_choice_form').addEventListener('submit', function(event) {
        var input = document.getElementById('city_box');
        var datalist = document.getElementById('cities');
        var valid = Array.from(datalist.options).some(option => option.value === input.value);
        
        if (!valid) {
          alert('Please select a valid city from the list.');
          event.preventDefault();
        }
      });
    </script>
  </div>
