<div>
  <div>
    <h1>
      Where do you want to eat in <%= @chosen_city %>?
    </h1>
  </div>
</div>

<hr>


<div>

  <ul>
    <% @list_of_categories.each do |a_category| %>
    <li> <a href="/<%= @chosen_city %>/<%= a_category.name %>"> <%= a_category.name %> </a> </li>
    <% end %>

  </ul>


</div>

<hr>
