<div>
  <div>
    <h1>
      Add a new review
    </h1>

<% if current_user != nil %>

  <div>
      <form id="flavor-form">

      <div>
          <label for="ice-cream-choice">Choose a flavor:</label>
          <input list="ice-cream-flavors" id="ice-cream-choice" name="ice-cream-choice" required />
          <datalist id="ice-cream-flavors">
            <option value="Chocolate"></option>
            <option value="Chocomilk"></option>
            <option value="Coconut"></option>
            <option value="Mint"></option>
            <option value="Strawberry"></option>
            <option value="Vanilla"></option>
          </datalist>
          <button type="submit">Submit</button>
        </form>

        <script>
          document.getElementById('flavor-form').addEventListener('submit', function(event) {
            var input = document.getElementById('ice-cream-choice');
            var datalist = document.getElementById('ice-cream-flavors');
            var valid = Array.from(datalist.options).some(option => option.value === input.value);
            
            if (!valid) {
              alert('Please select a valid flavor from the list.');
              event.preventDefault();
            }
          });
        </script>
      </div>

    <form action="/insert_review" method="post">

      <div>
        <label for="place_id_box">
          Place ID
        </label>

        <input type="text" id="place_id_box" name="query_place_id">
      </div>

      <div>

        <input type="hidden" id="reviewer_id_box" name="query_reviewer_id" value="<%= current_user.id %>">
      </div>

      <div>
        <label for="rating_box">
          Rating
        </label>

        <input type="text" id="rating_box" name="query_rating">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <button>
        Create review
      </button>
    </form>
  </div>

  <div>
  Can't find the place for your review? <a href="/places">Add it!</a>
  </div>


  <% else %>

  <div>
  Want to add a review?

  <a href="/users/sign_up">Sign up</a>
  <a href="/users/sign_in">Sign in</a>

  </div>

  <% end %>
